@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #00A8E8;
  --secondary-color: #00FF87;
  --accent-color: #6A0DAD;
  --navbar-bg: #0D1B2A;
  --navbar-text: #FFFFFF;
  --global-bg: #161B22;
  --global-text: #E6EDF3;
  --input-bg: #1F2937;
  --input-text: #FFFFFF;
  --button-primary: #00A8E8;
  --button-hover: #008AC3;
  --button-danger: #D90429;
  --success-text: #00FF87;
  --warning-text: #FFA500;
  --link-color: #00A8E8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

select, option, input {
  color: var(--input-text);
  background: var(--input-bg);
}

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}